@import './colors.scss';

@mixin fontoptions($size, $color: white) {
    font-size: $size;
    color: $color;
}

@mixin flexible($horizontal: center, $vertical: center) {
    display: flex;
    align-items: $vertical;
    justify-content: $horizontal;
}

body { 
    margin: 0;
}

.header { 
    width: 100%;
    height: 87px;
    background: $header-color; 
    @include flexible();

    &-content {
        height: 100%;
        width: 1024px;
        color: $text-color;
        @include flexible(space-between);
        box-sizing: border-box;
        padding-left: 54px;

        @media screen and (max-width: 1024px) {
            width: 100%;
        }

        @media screen and (max-width: 780px) {
            flex-direction: row-reverse;
            padding-right: 54px;
        }

        @media screen and (max-width: 360px) {
            padding: 0 10px;
        }

        &-links {
            width: 463px;
            @include flexible(space-between);

            @media screen and (max-width: 780px) {
                display: none;
            }

            .header-item {
                text-transform: uppercase;
                @include fontoptions(18px);
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &__check:checked + .header-content__menu> .header-content__menu-line {
            background-color: transparent;

            &::after {
                transform: rotate(-45deg);
                top: 0;
            }

            &::before {
                transform: rotate(45deg);
                bottom: 0;
            }
        }

        &__check:checked ~ .menu {
            width: 100%;
            height: 100vh;
            border-radius: 0;
            opacity: 1;
            left: 0;
            top: 0;
        }

        &__menu {
            height: 60px;
            width: 60px;
            border: 2px solid white;
            border-radius: 2px;
            @include flexible();
            cursor: pointer;
            display: none;
            position: relative;
            z-index: 2;

            @media screen and (max-width: 780px) {
                display: flex;
            }

            &-line {
                width: 50px;
                height: 3px;
                background-color: white;
                position: relative;
                transition: .4s;

                &::after {
                    content:'';
                    width: 50px;
                    height: 3px;
                    background-color: white;
                    position: absolute;
                    left: 0;
                    top: 13px;
                    transition: .4s;
                }

                &::before {
                    content:'';
                    width: 50px;
                    height: 3px;
                    background-color: white;
                    position: absolute;
                    left: 0;
                    bottom: 13px;
                    transition: .4s;
                }
            }

            
        }

        .menu {
            position: fixed;
            left: 50px;
            top: 20px;
            width: 0;
            height: 0;
            border-radius: 50%;
            background: rgb(76, 152, 164);
            background: linear-gradient(280deg, $header-color 0%, $grean 100%);
            z-index: 1;
            transition: .5s;
            opacity: 0;
            @include flexible();

            &__content {
                width: 14rem;

                &-item {
                    @include fontoptions(2rem, white);
                    border: 1px solid transparent;
                    border-left: 3px solid white;
                    padding: .6rem;
                    width: 0;
                    cursor: pointer;
                    transition: .3s;
                    margin-bottom: 2rem;
                    white-space: nowrap;
    
                    &:hover {
                        min-width: 10rem;
                        border: 1px solid white;
                        border-left: 3px solid white;
                    }
                }
            }
        }
        &__check {
            display: none;
        }
    }
}

.banner {
    width: 100%;
    height: 475px;
    @include flexible();
    color: $text-color;
    background-image: url(../images/bunner.png);
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    position: relative;

    &-title {
        text-transform: uppercase;
        @include fontoptions(35px);
        font-weight: bold;
        text-align: center;
        margin-bottom: 42px;

    }

    &-button {
        font-size: 25px;
        @include flexible();
        border: 2px solid $text-color;
        border-radius: 4px;
        cursor: pointer;
        width: 240px;
        height: 54px;
        transition: .4s;

        &:hover {
            background-color: rgba(255, 255, 255, .2);
        }
    }

    .dots {
        width: 5rem;
        @include flexible(space-between);
        position: absolute;
        bottom: 2rem;
        left:calc(50%-2.5rem);

        &__item {
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: white;
            cursor: pointer;
            
            &_active {
                background-color: #69728c;
            }
        }
    }
}

.things {
    @include flexible();
    flex-direction: column;
    padding: 5.25rem 0 5rem 0;
    box-sizing: border-box;

    &__title {
        @include fontoptions(1.875rem, black);
        margin-bottom: 2.44rem;
        text-align: center;
    }

    &__text {
        @include fontoptions(.875rem, black);
        margin-bottom: 4.44rem;
        text-align: center;
    }
    
    &__items {
        width: 25.94rem;
        @include flexible(space-between);

        @media screen and (max-width:  440px) {
            width: 100%;
            @include flexible(space-around);
        }
    }
}

.about {
    width: 100%;
    background-color: $grean;
    @include flexible();
    flex-direction: column;
    padding: 5.87rem 0;
    box-sizing: border-box;

    &__text {
        @include fontoptions(1.13rem, white);
        width: 56.25rem;

        @media screen and (max-width: 920px) {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
            text-align: justify;
        }
    }
}

.card {
    width: 17.87rem;
    @include flexible(space-between, flex-start);
    margin-bottom: 3.75rem;

    &__name {
        text-transform: uppercase;
        @include fontoptions(1.63rem);
        padding-top: .8rem;
        font-weight: bold;
        position: relative;
        
        &::after {
            content: "\201D";
            position: absolute;
            top: -1.2rem;
            left: -1rem;
            @include fontoptions(17rem, rgba(255,255,255,.2))
        }
    }
}

.feadback {
    width: 100%;
    height: 32.4rem;
    background-image: url(../images/map.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flexible();

    &__form {
        width: 26.9rem;
        height: 26.9rem;
        border-radius: 50%;
        background: rgba(255, 255, 255, .9);
        @include flexible();
        flex-direction: column;
        padding-top: 4rem;
        box-sizing: border-box;

        @media screen and (max-width: 480px) {
            width: 90%;
            border-radius: 10px;
        }
    

        &-inp {
            width: 17.2rem;
            height: 1.93rem;
            padding-left: .6rem;
            border: 1px solid #d8d8d8;
            margin-bottom: 1rem;
            box-sizing: border-box;
            outline: none;
      }

      &-area {
          width: 17.2rem;
          border: 1px solid #d8d8d8;
          resize: none;
          height: 5rem;
          padding: .6rem;
          box-sizing: border-box;
          outline: none;
          margin-bottom: 2rem;
     }
    
      &-btn {
          width: 4.2rem;
          height: 4.2rem;
          border-radius: 50%;
          outline: none;
          border: none;
          background-image: url(../images/ptich.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
     }
    }
}

.footer {
    background: $grean;
    height: 2.5rem;
    @include flexible();
    text-transform: uppercase;
    @include fontoptions(.7rem);
    width: 100%;
}
